gymnasium==0.29.1
stable-retro==0.9.2
opencv-python==4.9.0.80
stable_baselines3==2.3.2
pygame==2.5.2
optuna==3.6.1

# ensure you have CUDA 12.1 on your machine. manually install torch, torchaudio, and torchvision if you do not have an NVIDIA GPU/do not use Google Colab.
# Certain CSIF computers have NVIDIA GPUs, so connecting to them is an alternate option.
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
torchvision==0.18.0+cu121

# run sudo apt-get install texlive-pictures texlive-science texlive-latex-extra latexmk
pylatex==1.4.2
# if you get stuck on "Pregenerating ConTeXt MarkIV format. This may take some time..."
# hold down the enter key until it finishes don't ask me why that works